body {
    padding-top: 60px
}

html {
    background: rgb(28, 28, 28); 
    color: rgb(131, 131, 131);
    outline: invert;
    font-family: Plus Jakarta Sans;
}

p {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
}

a:focus,
a:hover {
    color: rgb(216, 216, 216);
}

a:visited {
    color: none
}

footer {
    font-size: smaller;
}

